@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
button{
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
  color: white !important;

}
input,textarea{
  box-shadow: none !important;
  outline: none !important;
  border:1px solid hsl(0, 0%, 50%)!important
}
input:focus,textarea:focus{
  box-shadow: none !important;
  outline: none!important
}
.ant-spin{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
}
.ant-btn-dashed{
  background: white !important;
  color: black !important;
  border: 1px dashed gray !important;
  width: 200px !important;
  padding-right: 40px;
}
.upt{
  background-color: black !important;
  
}

.divider{
  width:100%;
  height: 2px;
  background-color: gray;
}
.btn-all .back-btn{
  font-size: 25px;
  background-color:  rgba(128, 128, 128, 0.406) !important;
  opacity: 0.4;
  
}

